#dhtmltooltip
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #0066FF;
	position: absolute;
	width: 285px;
	visibility : hidden;
	z-index : 100;
	left: -300px;
	top: -100px;
}

#titlebox
{
	color: white;
	font-size: 13px;
	font-weight: bold;
	width: 285px;
	text-align: left;
}
#boxcontent
{
	font-size: 11px;
	width: 285px;
	text-align: left;
}

.dpointer
{
	position :absolute;
	z-index : 101;
	visibility : hidden;
	left: -300px;
	top: -100px;
}

	/* Style product table in tooltip */
	.mainbox
	{
		text-align: left;
	}
	.mainbox table {
		width: 100%;
		border: 0;
		border-collapse: collapse;
	}
	.mainbox ul {
		list-style-type: none;
		margin: 0 0 20px 10px;
		padding: 0;
	}
	.mainbox ul li {
		margin: 2px 0 0 0;
	}
	.mainboxImg {
		text-align: center;
	}
	.mainbox img {
		padding: 5px;
	}