body {
 margin:50px;
 margin-left:20px;
 color:#000;
 font-family:arial;
}

a {
 text-decoration:none;
 color:#000;
 font-weight:bold;
}

p {
 margin:20px 0px 20px 0px;
}

b, .title, dt {
 font-weight:bold;
 font-size:15px;
}

dl {
 border:solid 1px #000;
 float:left;
 width:200px;
 margin:5px;
 padding:5px;
 background:#ccc;
}

h4 { 
 font-size:25px;
}

.button, #footer, ul, .infoBox, .title {
 visibility:hidden;
}