<div id="footer">
    <div class="contain">
        <div class="footerdesc">
            Copyright &copy; 2022 under AGPL. <strong>2009Scape is not affiliated with RuneScape or Jagex
                Ltd.</strong><br />
            Use of our Game's source code is subject to our <a href="/site/terms/terms.html">Terms &amp;
                Conditions</a> and <a href="/site/privacy/privacy.html">Privacy Policy</a>.<br />
        </div>
        <a class="jagexlink" href="" target="_blank">
            <img src="/site/2009scape-resources/img/branding/logo-footer-dark.png" alt="2009Scape" />
        </a>
    </div>
</div>