<ul id="menus">
  <li class="top"><a href="/index.html" id="home" class="tl">{% include active-menu.html content="home" %}Home</span></a>
  <li class="top"><a id="play" class="tl" href="http://play.2009scape.org/wiki/doku.php?id=start"><span
        class="tl">Wiki</span></a>

  </li>
  <!--class ts is active tl is inactive -->
  <li class="top"><a id="play" class="tl" href="/services/m=news/archives/">{% include active-menu.html content="news" %}Updates</span></a>
  </li>
  </li>

  <li class="top"><a id="guide" class="tl" href="/site/game_guide/">{% include active-menu.html content="guide" %}Game
        Guide</span></a>
    <ul>
      <li><a href="/site/game_guide/" class="fly"><span>Browse the Game Guide</span></a></li>
      <li><a href="/site/game_guide/credits.html" class="fly"><span>The Credit System</span></a>
      <li><a href="/site/rules/rules.html" class="fly"><span>Our Rules</span></a></li>
      <li><a href="/site/game_guide/about2009scape.html" class="fly"><span>About 2009scape</span></a></li>
    </ul>
  </li>
  <li class="top"><a id="community" class="tl" href="/site/community/">{% include active-menu.html content="community" %}Community</span></a>
    <ul>
      <li><a href="https://discord.gg/YY7WSttN7H" class="fly"><span>Discord Server</span> </a></li>
      <li><a href="https://matrix.to/#/#09scape-general:matrix.org" class="fly"><span>Matrix Server</span> </a></li>
      <li><a href="/services/m=hiscore/hiscores.html?world=2" class="fly"><span>Legacy Hiscores</span></a></li>
      <li><a href="/site/community/hall_of_fame.html" class="fly"><span>The Hall Of Fame</span></a>
      <li><a href="/site/community/staff.html" class="fly"><span>Meet the Staff</span></a>
      <li><a href="/site/community/contributors.html" class="fly"><span>To the Tributes!</span></a></li>
      <li><a href="/site/classicapplet/playclassic.html" class="fly"><span>Play Classic</span></a></li>
    </ul>
  </li>

  <li class="top"><a id="help" class="tl" href="/site/help/">{% include active-menu.html content="help" %}Help</span></a>
    <ul>
      <li><a href="/site/help/faq.html" class="fly"><span>Frequently Asked Questions</span></a></li>
      <li><a href="https://gitlab.com/2009scape/2009scape/-/issues/new" class="fly"><span>Submit a Bug
            Report</span></a>
      <li><a href="/services/m=forum/forums.html" class="fly"><span>Information Center</span></a></li>
  </li>

</ul>
</li>

<li class="top"><a id="login" class="tl" href="https://github.com/2009scape" rel="noopener noreferrer"
    target="_blank"><span class="tl">Source Code</span></a>
  <ul>
    <li>
    <li><a href="https://gitlab.com/2009scape/2009scape" rel="noopener noreferrer" target="_blank"
        class="fly"><span>Game Source Code</span></a></li>
    <li><a href="https://github.com/2009scape/2009Scape.github.io" rel="noopener noreferrer" target="_blank"
        class="fly"><span>Website Source Code</span></a>
  </ul>
</li>
</ul>
<br class="clear" />