<div class="brown_box" style="margin-bottom: 5px;">
  <div class="inner_brown_box">
    <div class="helptext">
      <div class="helptitle">
        <b>Important Information</b>
      </div>
      This entire website is getting a massive overhaul and this page will change.
      If you need any help at all ask a staff member either on our <a href="https://discord.gg/43YPGND">Discord</a> or if you do not prefer discord check out our <a href="https://forum.2009scape.org/">Forums</a>!
    </div>
  </div>
</div>