<!DOCTYPE HTML PUBLIC "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">

<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="Content-Language" content="en,English">
  <meta name="keywords" content="RSPS, Open Source, 2009scape, Osrs, Oldschool Runescape, Runescape, zezima">
  <meta name="description"
    content="2009Scape - Bringing back the game from 2009 you love. Multiplayer and free forever.">
  <!--2010 GLOBAL CSS-->
  <style type="text/css">
    /*\*/
    @import url(/site/css/default/global-30.css);
    /**/
  </style>

  <style type="text/css">
    /*\*/
    @import url(/site/css/default/home-28.css);
    /**/
  </style>
  <!-- Formatting to wrap -->
  <style type="text/css">
    .section {
        padding: 0px !important;
    }
</style>
  <!--2009SCAPE CUSTOM CSS-->
  <link rel="stylesheet" href="/site/css/hiscores-17.css">
  <title>2009Scape - {{ page.title }}</title>
</head>

<body id="navhome" class="bodyBackground">
  <a name="top"></a>
  <div id="scroll">
    <div id="head">
      <div id="headBg">
        <div id="headOrangeTop"></div>
        <img id="banner" src="" alt="RuneScape">

        <!--SCRIPT: MONTHLY BANNER-->
        <script type="text/javascript">
          document.getElementById("banner").src = `/site/2009scape-resources/img/banners/${new Date().getMonth() + 1}.webp`;
        </script>

        <div id="headImage"><a href="/" id="logo_select"></a>
          <div id="player_no"><span class="brandingColor">2009Scape</span>: a free &amp; open-source remake of 2009 era
            RuneScape</div>
        </div>
        <div id="headOrangeBottom"></div>

        <!-- End of Banner -->
        <div id="menubox">
          {% include menu.html %}
        </div>
      </div>
    </div>

    <div class="navigation">
      <div class="location">
        {% include breadcrumbs.html %}
      </div>
    </div>

    {{content}}

    {% include footer.html %}
  </div>
</body>
<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">

</html>