<!DOCTYPE html>
<html>

{% include head.html %}
<link rel="stylesheet" href="/site/css/forum3-7.css">

<body id="navhome" class="bodyBackground">
  <div id="scroll">
    {% include header.html %}

    <div class="navigation">
      <div class="location">
        {% include breadcrumbs.html %}
      </div>
    </div>

    <div id="content">
      <div id="article">
        <div class="sectionHeader">
          <div class="left">
            <div class="right">
              <h1 class="plaque">{{ page.date | date: '%d-%B-%Y' }}</h1>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="brown_background">
          </div>
          <div id="contrast_panel">
            <div id="infopane">
              <div class="title thrd">{{ page.title }}</div>
            </div>
            <div class="phold" id="nocontrols"></div>
            <div class="actions" id="top">
              <table>
                <tbody>
                  <tr>
                    <td class="commands center">
                      <ul class="flat first-child">
                        <li>
                          <a href="/services/m=news/archives/">
                            <img alt="" src="/site/img/forum/cmdicons/backtoforum.gif">Up to Legacy Update List
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img alt="" src="/site/img/forum/cmdicons/refresh.gif">Refresh
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="" id="contentmsg">
              <a class="msgplace" name="0"></a>
              <table cellspacing="0" class="message jmod">
                <tbody>
                  <tr>
                    <td class="leftpanel J-Mod">
                      <div class="msgcreator uname">
                        {{ page.authors }}
                      </div>
                      <img alt="" class="avatar" src="/services/m=avatar-rs/{{ page.avatar }}">
                      <div class="modtype">{{ page.modtype }}</div>
                      <div class="msgcommands">
                        <br>
                      </div>
                    </td>
                    <td class="rightpanel">
                      <div class="msgtime">
                          {{ page.date | date: '%d-%B-%Y' }}
                          <br>
                      </div>
                      <div class="msgcontents">
                        {{ content }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="actions" id="bottom">
              <table>
                <tbody>
                  <tr>
                    <td class="commands center">
                      <ul class="flat first-child">
                        <li>
                          <a href="/services/m=news/archives/">
                            <img alt="" src="/site/img/forum/cmdicons/backtoforum.gif"> Up to Legacy
                            Update List
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img alt="" src="/site/img/forum/cmdicons/refresh.gif">
                            Refresh
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation">
      <div class="location">
        {% include breadcrumbs.html %}
      </div>
    </div>

    {% include footer.html %}
  </div>
</body>

</html>
