






 


 #login_panel{
  background-image: url(../../img/weblogin/recover_backcfcd.png?0) !important;
background-image: url(../../img/weblogin/recover_back_ie6cfcd.png?0);

  background-repeat:     no-repeat;
  background-position:    left top;
  width: 460px;
  margin: 0px auto 0px;
  position: relative;
  border: none;
  padding: 5px 0px 0px 0px;
  height: 278px;
 }




#manualRedir{
 text-align: center;
 visibility: hidden;
 display: block;
 bottom: 4px;
 position: absolute;
 width: 100%;
 text-align: center;
}
#manualRedir span{
 width: 400px;
 color: black;
}
#message{
 top: 17px;
}
.appletHolder{
 margin: 0 auto; 
 width: 400px; 
 font-size: 0px;
 position: absolute;
 top: 55px;
 left: 30px;
}


